@use '../../Assets/Mixins.scss' as *;

.Genre {
  margin-bottom: 50px;
  // position:absolute;
  .container {
    padding: 20px;
    border-radius: 10px;
  }

  .g-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;
    gap: 20px;

    .g-icons {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      border: 1px solid #1F1F1F;
      border-radius: 8px;

      .icon-box {
        width: 42px;
        height: 42px;
        background-color: #1f1f1f;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        cursor: pointer;

        svg {
          font-size: 20px;
          color: #e5e5e5;
        }

        &:hover {
          background-color: #333;

          svg {
            color: white;
          }
        }
      }
    }
  }

  .swiper {
    padding: 20px 0;
  }

  .card {
  border-radius: 8px;
  background-color: #181818;
  transition: all 0.2s;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  max-width: 190px; // maksimal o‘lcham
  margin: 0 auto;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    border-radius: 5px;
  }

  .card-info {
    padding: 10px;
  }

  h2, p {
    color: white;
  }

  .card-title {
    @include font(600, 16, 1.5);
  }
}


  // Responsivlik
  @include media(768px) {
    .g-title {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
