@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import './Assets/color.scss';
@import './Assets/Mixins.scss';

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Manrope", sans-serif;
}
