@use './Assets/color.scss' as color;
@use './Assets/Mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.container {
  width: 100%;
  max-width: 1387px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  font-family: "Manrope", sans-serif;
}
